.card{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 23px -8px rgba(71,114,254,0.3);
}

.new_btn{
    background-color: var(--primary-color);
    margin-right: 10px;
}

.delete-btn{
    margin-left: 10px;
}

feature-btn{
    margin-left: -10px;
}

.card1{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 23px -8px rgba(71,114,254,0.3);
}