<div class="container main">
    <div class=" row p-5">
        <div class="card col-md-4 p-4" routerLink='/categories'>
           <h1> <i class="fas fa-clipboard-list"></i></h1>
            <h2 class="">Category</h2>
            <small>Manage your Category details here.</small>
        </div>
        <div class="card col-md-4 p-4" routerLink='/posts'>
            <h1> <i class="fas fa-file-image"></i></h1>
             <h2 class="">Post</h2>
             <small>Manage your Post details here.</small>
         </div>
         
    </div>
    
</div>